################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloJenkins/.vs/HelloJenkins/v15
/HelloJenkins/HelloJenkins/obj/Debug
/HelloJenkins/HelloJenkins/bin
/HelloJenkins/HelloJenkins/obj/Release
